* {
    font-family: sans-serif
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 2rem;
    box-shadow: 0px 5px 8px #a3a2a2;
}

header > h3 {
    margin-top: 0;
}

.btn-desliz-container {
    display: flex;
    justify-content: space-between;
}

#container-controles {
    display: flex;
}

#btnPlay {
    height: 40px;
    width: 63px;
    background-color: transparent;
    border: none;
}

#imgBtnPlay {
    height: 100%;
}

#reguladorVelocidad {
    width: 200px;
    margin-left: 18px;
}

main {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}