* {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 2rem;
  box-shadow: 0px 5px 8px #a3a2a2;
}

header>h3 {
  margin-top: 0;
}

.btn-desliz-container {
  display: flex;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#btn-cargar-programa {
  background-color: #835e13;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#form-subir-archivo {
  display: inline-block;
  padding: 0 4px;
  cursor: pointer;
}

#form-subir-archivo label {
  cursor: pointer;
}

#container-controles {
  display: flex;
}

#btnPlay {
  height: 40px;
  width: 63px;
  background-color: transparent;
  border: none;
}

#imgBtnPlay {
  height: 100%;
}

#reguladorVelocidad {
  width: 200px;
  margin-left: 18px;
}

main {
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cinta-and-tags-container {
  overflow: auto;
  position: relative;
}

#cinta {
  display: flex;
  padding: 2rem;
}

#tags {
  background-color: #607d8b;
  position: absolute;
  width: 921.44px;
  top: 0px;
  margin-left: 32px;
  height: 1.5rem;
  display: flex;
  visibility: hidden;
}

.tag-name {
  display: flex;
  flex-grow: 0.25;
  justify-content: center;
  align-items: center;
  border: 1px solid #4c4b4b;
  font-weight: bold;
  color: white;
}

.bit-container {
  width: 3.6rem;
}

.bit-simbolo {
  height: 3.6rem;
  width: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.cabezal-container {
  height: 1.8rem;
  display: flex;
  justify-content: center;
}

/*desaparecer el cabezal*/
.pos_cabezal {
  opacity: 0.1;
}

#play {
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #32a840;
}